<h4>{{name}}</h4>
<img src="{{imageUrl}}" alt="{{name}}">
<p>Description: {{description}}</p>
<p>Owner: {{owner}}</p>
{{#each this.reviews}}
    {{> reviewPartial}}
{{/each}}
<a href="/{{_id}}/edit">Edit</a>
<a href="/{{_id}}/delete">Delete</a>